*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat' !important;
}

//variables

//font sizes:
$fs-sm: 0.75rem;
$fs-md: 0.8rem;

//font colors:
$fs-clr-white: #fff;

//bg-colors:
$bg-clr-white: rgba(250, 250, 250, 0.85);
$bg-clr-black: rgba(0, 0, 0, 0.75);

//service classes:
.alert {
	position: absolute !important;
	width: 100% !important;
	display: flex !important;
	justify-content: center;
	transform: translateY(-30%);
	animation-name: animate-alert;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-timing-function: ease-in;
	z-index: 20;
}

.spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;

	.d-flex.justify-content-center {
		.spinner-border {
			width: 4rem !important;
			height: 4rem !important;
		}
	}
}

.linkTo {
	position: absolute;
	top: 2%;
	right: 2%;
	width: calc(1em + 1vmin);
	height: calc(1em + 1vmin);
	z-index: 10;

	img {
		width: 100%;
		object-fit: contain;
	}
}

.disclaimer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	transform: translateX(100%);
	visibility: hidden;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $bg-clr-white;

	p {
		padding: 0% 2% 0% 2%;
	}

	.btn-disclaimer {
		position: absolute;
		left: -81px;
		top: 50%;
		transform: rotate(90deg);
		height: 5%;
		border: none;
		border-radius: 10px;
		background-color: $bg-clr-black !important;
		color: $fs-clr-white !important;
		font-size: $fs-sm;
		width: 132px;
		visibility: visible !important;
	}

	.icn-close {
		position: absolute;
		top: 1%;
		right: 2%;
		object-fit: contain;
		width: 30px;
		height: 30px;
		z-index: 10;

		&:hover {
			cursor: pointer;
		}
	}
}

li {
	list-style-type: none;
}

//main nested classes:
.body-index {
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/motor-bg.svg) center center/contain;
	background-repeat: no-repeat;
	overflow-x: hidden;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.icn-units {
		position: absolute;
		top: 1%;
		left: 50%;
		width: 30px;
		object-fit: contain;
		z-index: 10;
		visibility: hidden;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	}

	.list-unitForm {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 1.5%;
		background: rgba(0, 0, 0, 0.83);
		color: #fff;
		z-index: 15;
		font-size: calc(0.4em + 1vmin);

		.listItem-icn-hide-unit-form {
			position: absolute;
			width: 30px;
			right: 5%;

			img {
				width: 100%;

				&:hover {
					cursor: pointer;
					transform: scale(1.1);
					transition: transform 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
				}
			}
		}

		.listItem-outer {
			display: flex;
			width: 90%;
			justify-content: space-evenly;
			margin-top: 1.5%;

			.listitem-toolkit {
				display: flex;
				align-items: center;
				flex: 0.2;
				justify-content: center;

				img {
					width: 15px;
					object-fit: contain;
					margin-right: 7%;

					&:hover {
						cursor: pointer;
						transform: scale(1.1);
						transition: transform 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
					}
				}
			}

			li:nth-child(n + 2) {
				flex: 0.1;
				align-self: center;
				justify-self: center;
			}
		}

		.list-mask {
			z-index: 20;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);

			.unitForm-update {
				position: absolute;
				background-color: $bg-clr-white;
				opacity: 0.9;
				width: 50%;
				height: 50%;
				transform: translateX(50%) translateY(50%);
				color: $bg-clr-black;

				.list-unitForm-update {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					padding: 0 !important;

					li:first-child {
						width: 20px;
						position: absolute;
						right: 15px;
						top: 5px;

						&:hover {
							cursor: pointer;
						}

						img {
							width: 100%;
							object-fit: contain;
						}
					}

					li:nth-child(n + 3) {
						input {
							background-color: $bg-clr-black;
							border: none;
							color: $fs-clr-white;
							padding-left: 10px;
						}

						input[type='text']::-webkit-input-placeholder {
							/* Chrome/Opera/Safari */
							color: $fs-clr-white;
						}
						input[type='text']::-moz-placeholder {
							/* Firefox 19+ */
							color: $fs-clr-white;
						}
						input[type='text']:-ms-input-placeholder {
							/* IE 10+ */
							color: $fs-clr-white;
						}
						input[type='text']:-moz-placeholder {
							/* Firefox 18- */
							color: $fs-clr-white;
						}
					}
				}
			}
		}
	}

	//temp
	// &::before {
	// 	content: 'Сайт в процессе доработки. Перезайдите позднее.';
	// 	font-size: 1.6rem;
	// 	font-weight: 900;
	// 	color: #fff;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	position: absolute;
	// 	top: 0%;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgba(184, 39, 128, 0.6);
	// 	z-index: 200;
	// }

	.main-index {
		position: relative;
		width: 90%;
		height: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1.2fr 2fr;

		button,
		input,
		select,
		label {
			font-size: $fs-sm !important;
		}

		%calculator-options-shared {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			text-align: center;
			font-size: $fs-md;
		}

		.calculator {
			&-navPanel {
				@extend %calculator-options-shared;
				grid-row: 1/3;
				justify-content: space-evenly;
				align-items: center;
				padding: 2%;
				background-color: $bg-clr-white;

				.input-cbm-calc-group {
					display: flex;
					position: relative;
					height: 25%;
					width: 100%;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					transform: rotate3d(0, 0, 0, 180deg);
					transform-style: preserve-3d;
					transition: all 0.4s ease-in;

					%face-options-shared {
						position: absolute;
						backface-visibility: inherit;
						width: 100%;
						height: 100%;
						display: block;
						background-color: rgba(250, 250, 250, 0.9);

						input {
							display: inline-block;
						}

						.link-switch-calc-mode {
							position: absolute;
							bottom: 5px;
							right: 15px;
							color: #000;
							font-weight: 700;
						}
					}

					.face {
						&-front {
							@extend %face-options-shared;
							transform: translateZ(50px);
							padding-top: 10px;

							h6 {
								margin-top: 10px;
							}
						}
						&-rear {
							@extend %face-options-shared;
							transform: rotateY(180deg) translateZ(50px);

							h6 {
								margin-top: 30px;
							}
						}
						&-right {
							@extend %face-options-shared;
							transform: rotateY(90deg) translateZ(50px);
						}
						&-left {
							@extend %face-options-shared;
							transform: rotateY(-90deg) translateZ(50px);
						}
						&-top {
							@extend %face-options-shared;
							transform: rotateX(90deg) translateZ(50px);
						}
						&-bottom {
							@extend %face-options-shared;
							transform: rotateY(-90deg) translateZ(50px);
						}
					}

					input[type='text']::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						font-size: 0.6rem !important;
					}
					input[type='text']::-moz-placeholder {
						/* Firefox 19+ */
						font-size: 0.6rem !important;
					}
					input[type='text']:-ms-input-placeholder {
						/* IE 10+ */
						font-size: 0.6rem !important;
					}
					input[type='text']:-moz-placeholder {
						/* Firefox 18- */
						font-size: 0.6rem !important;
					}

					input[type='text'] {
						width: 28%;
					}

					h6 {
						font-size: $fs-sm;
					}

					.icn-add-unit {
						width: 30px;
						object-fit: contain;
						margin-left: 3%;

						&:hover {
							cursor: pointer;
							transform: scale(1.1);
							transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
						}
					}

					.output {
						width: 100%;
						text-align: center;
						margin: 0 auto;
					}
				}

				%btn-options-shared {
					width: 100%;
					height: 5%;
					border: none;
					border-radius: 10px;
					visibility: hidden;
					background-color: $bg-clr-black !important;
					color: $fs-clr-white !important;

					&:hover {
						cursor: pointer;
						opacity: 0.8;
						transition: opacity 0.8s ease-in-out;
					}
				}

				.btn {
					&-getResults {
						@extend %btn-options-shared;
					}

					&-returnToPrevState {
						@extend %btn-options-shared;
					}

					&-Submit {
						@extend %btn-options-shared;
						visibility: visible;
						height: auto;
					}
				}

				.email-box {
					width: 100%;
					height: 30%;
					transform: translate(-100%);
					animation-name: animate-email-box;
					animation-duration: 0.7s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;
					animation-direction: normal;
					animation-timing-function: ease-in;

					.formData {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}
				}
			}

			&-results {
				@extend %calculator-options-shared;
				align-items: flex-end;
				justify-content: center;
				margin-top: 5%;
				font-weight: 700;
				position: relative;

				p {
					background-color: $bg-clr-white;
					width: 60%;
					text-align: end;
					padding-right: 2%;
				}
			}
		}
		.result {
			font-weight: 800;
			text-align: center;
			background-color: $bg-clr-white;
			.list {
				line-height: 1.8rem;
				font-size: $fs-sm;
				.listItem {
					list-style-type: none;
					.span-listItem {
						font-weight: 500 !important;
					}
				}
			}
		}
	}
}

.body-auth,
.body-fileuploader {
	visibility: hidden;
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: $bg-clr-black;
	overflow-x: hidden;
	color: $fs-clr-white;
	font-size: $fs-md;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.disclaimer {
		justify-content: space-evenly !important;
		background-color: rgba(250, 250, 250, 1);
		color: #000;

		h3 {
			font-size: calc(1rem + 0.6vw);
		}

		.list {
			text-align: left;
			line-height: calc(1.3em + 1vmin);
			// height: 90%;
			display: flex;
			flex-flow: column;
			justify-content: space-evenly;
			// flex-wrap: wrap;

			li {
				a:visited,
				a:not(:visited) {
					font-weight: 600;
					text-decoration: underline;
					color: #000;

					&:hover {
						cursor: pointer;
					}
				}

				.list-collapsed {
					transform: scale(0);
					transition: transform 0.6s ease-in-out;
				}

				.list-expanded {
					text-align: center;
					transform: scale(1);
					transition: transform 0.6s ease-in-out;

					li {
						.img-mask {
							width: 40%;
							height: 40%;
							margin-left: 30%;
							position: relative;
							&:hover {
								cursor: pointer;
							}

							.img-slider {
								width: 100%;
								height: 80%;
								object-fit: contain;
								opacity: 1;
							}

							.imgId {
								position: absolute;
								bottom: 0;
								left: 45%;
								color: black;
								font-weight: 600;
								background: #fff;
							}
						}
					}
				}
			}
		}
	}

	main {
		position: relative;
		width: 100%;
		height: 100%;

		.auth-form,
		.fileuploader-form {
			width: 40%;
			height: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			line-height: 1.9rem;
			transform: translateX(70%) translateY(50%);
			position: relative;
			font-size: $fs-md;

			.btn {
				color: $fs-clr-white !important;
				position: absolute !important;
				bottom: 0 !important;
			}

			input[type='text'],
			input[type='email'],
			input[type='password'],
			input[type='file'] {
				width: 80% !important;
			}

			input[type='checkbox'] {
				width: 19px !important;
				height: 19px !important;

				&:hover {
					cursor: pointer;
				}
			}

			.toggler-pass-gr {
				visibility: hidden;
			}
		}
	}
}

@keyframes animate-email-box {
	from {
		transform: translate(-100%);
	}

	to {
		transform: translate(0%);
	}
}

@keyframes animate-alert {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
	}
}
